/__pycache__/*
.history/
backend/app/*/__pycache__/__init__.cpython-311.pyc
backend/app/models/__pycache__/__init__.cpython-313.pyc
backend/app/models/__pycache__/player.cpython-311.pyc
backend/app/models/__pycache__/player.cpython-313.pyc
backend/app/models/__pycache__/team.cpython-311.pyc
backend/app/models/__pycache__/team.cpython-313.pyc
backend/app/models/__pycache__/user.cpython-311.pyc
backend/app/models/__pycache__/user.cpython-313.pyc
backend/app/routers/__pycache__/__init__.cpython-311.pyc
backend/app/routers/__pycache__/__init__.cpython-313.pyc
backend/app/routers/__pycache__/admin.cpython-311.pyc
backend/app/routers/__pycache__/admin.cpython-313.pyc
backend/app/routers/__pycache__/auth.cpython-311.pyc
backend/app/routers/__pycache__/auth.cpython-313.pyc
backend/app/routers/__pycache__/chatbot.cpython-311.pyc
backend/app/routers/__pycache__/chatbot.cpython-313.pyc
backend/app/routers/__pycache__/user.cpython-311.pyc
backend/app/routers/__pycache__/user.cpython-313.pyc
